/* ---------------------- */
/* Fonts                  */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* ---- GLOBAL ---- */
*,
*::before,
*::after {
  font: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCE9F1;
  display:flex;
  align-items: center;
  justify-content: center;


}

/* ---- ROOT ---- */
#root {
  max-width: 22em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  margin: 3em;
}

/* ----The layout---- */

.card {
  background-color: #F1D4E5;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;;


}

/* ----INFO---- */

.info {
  text-align: center;
  
}

.container {
  text-align: left;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

.info--name {
  margin-top: 10px;

}

.info--role {
  color: #d1741c;
  margin-top: 10px;
}

.info--website {
  color: #403b3b;
  margin-top: 10px;
}

.info--buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;

}

.button {
  min-width: 125px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5em 0.75em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.button--email {
  border: 1px solid #EFEFEF;
}

.button--linkedin {
  color: #000000;
  background-color: #5093E2;
  border: 1px solid #5093E2;
}

/* ----ABOUT---- */

.about--title {
  margin-top: 20px;
}

.about--description {
  margin-top: 10px;
}
.interest {
  margin-top: 20px;
}
.interest--paragraph {
  margin-top: 10px;

}


h3 {
  font-weight: 700;
  font-size: 25px;
  text-align: left;
}

img {
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;;
}

/* ---FOOTER--- */
footer {
  margin-top: 10px;
  background-color: #73BBC9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer--icon {
  min-width: 150px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}